style >
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #11ab23;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.content {
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 3em;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin-left: 4em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.container {
    margin-top: 5em;
    width: 100%;
    margin-left: 4em;
    /*margin: 0 auto;*/
}

.block {
    padding-left: 1em;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

.btn {
    height: 3.5em;
    width: 12em;
    background-color: #2c3e50;
    color: white;
    border-radius: .25em;

}

.btn:hover {
    color: #f39c12;
    background-color: #212020;
}